[mysql]
# 设置mysql客户端默认字符集
default-character-set=utf8

# 提示符
prompt = [\\u@\\h][\\d]>\\_

[mysqld]
##################################基本配置####################################
# 创建新表时将使用的默认存储引擎
default-storage-engine=INNODB

# 设置mysql的安装目录
#basedir=/usr/local/mysql

# 设置mysql数据库的数据的存放目录
#datadir=/usr/local/mysql/data

# pid文件(datadir目录下),请不要设置
#pid-file = mysql.pid

# STRICT_TRANS_TABLES: 对于InnoDB, 效果等同于STRICT_ALL_TABLES
# NO_ENGINE_SUBSTITUTION: 如果create table 时指定的engine项不被支持，这个时候mysql会支持报错
# NO_ZERO_DATE: 不支持'0000-00-00'做为合法日期
# NO_ZERO_IN_DATE: 不接受月或日部分为0的日期
# ERROR_FOR_DIVISION_BY_ZERO: 除数为0抛出异常
# NO_AUTO_CREATE_USER: 防止GRANT自动创建新用户，除非还指定了密码
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER

# 打开自动提交
autocommit = 1

# 这是mysql默认事务级别,支持可重复读(https://www.cnblogs.com/huanongying/p/7021555.html)
#transaction_isolation = REPEATABLE-READ
transaction_isolation = READ-COMMITTED

# utf8mb4编码是utf8编码的超集，兼容utf8，并且能存储4字节的表情字符
character_set_server=utf8mb4

# 禁止对timestamp字段自动更新
explicit_defaults_for_timestamp = 1

# server接受的数据包大小
max_allowed_packet = 16777216

# 支持事件调度器. 在指定的实际执行sql
event_scheduler = 1

#设置3306端口
port = 3306

##################################连接####################################
# 禁止域名解析
skip-name-resolve

# 服务器关闭交互式连接前等待活动的秒数
#interactive_timeout = 1800

# 服务器关闭非交互连接之前等待活动的秒数
#wait_timeout = 1800

# 最大连接数
max_connections = 512

# 阻止过多尝试失败的客户端以防止暴力破解密码的情况
#max_connect_errors = 100

##################################table cache performance settings####################################
# 表高速缓存的大小
#table_open_cache = 4096

# 表定义信息缓存的大小
#table_definition_cache = 4096

# 把table cache 拆成了多个分区，每个分区的打开table句柄数为：table_open_cache / table_open_cache_instances
#table_open_cache_instances = 128


##################################session memory settings####################################
# MySQL顺序读入缓冲区的大小
#read_buffer_size = 16M

# MySQL随机读入缓冲区大小
#read_rnd_buffer_size = 32M

# 排序或分组缓冲区大小
#sort_buffer_size = 32M

# 内部内存临时表的最大值
#tmp_table_size = 64M

# 表连接缓冲区大小
#join_buffer_size = 128M

# 缓存空闲的线程,但client需要重新建立新连接，则会优先调用线程池中的缓存
#thread_cache_size = 64

##################################log settings####################################
# 错误日志(datadir目录下)
#log_error = error.log

# 是否启用慢查询日志
slow_query_log = 1

# 慢查询日志(datadir目录下)
slow_query_log_file = slow.log

# 指定多少秒返回查询的结果为慢查询
long_query_time = 2

# 将没有使用索引的语句记录到慢查询日志
log_queries_not_using_indexes = 1

# 开启记录管理型(比如OPTIMIZE TABLE、ANALYZE TABLE和ALTER TABLE)慢SQL
#log_slow_admin_statements = 1

# 记录由Slave所产生的慢查询
#log_slow_slave_statements = 1

# 表示1分钟内未使用index的SQL最多记录N条
log_throttle_queries_not_using_indexes = 10

# 查询检查返回少于该参数指定行的SQL不被记录到慢查询日志
min_examined_row_limit = 100

# binlog日志文件保留时间
expire_logs_days = 90

# 在row模式下..开启该参数,将把sql语句打印到binlog日志里面
#binlog-rows-query-log-events = 1

# 开启log-bin的MySQL Server便可以随意创建function
#log-bin-trust-function-creators = 1

# binlog主从同步
#log-slave-updates = 1


##################################innodb settings####################################
# 页是InnoDB磁盘管理的最小单位。默认大小为16K
#innodb_page_size = 16384

# 用于缓存索引和数据的内存大小
#innodb_buffer_pool_size = 160G

# buffer pool被划分为多个缓存实例的数量
#innodb_buffer_pool_instances = 16

# 在启动时把热数据加载到内存
#innodb_buffer_pool_load_at_startup = 1

# 在关闭时把热数据dump到本地磁盘
#innodb_buffer_pool_dump_at_shutdown = 1

# 影响page cleaner线程每次刷脏页的数量，这是一个每1秒 loop一次的线程
#innodb_lru_scan_depth = 4096

#事务等待获取资源等待的最长时间
innodb_lock_wait_timeout = 5

# 脏页刷盘控制(单位:页)
#innodb_io_capacity = 10000
#innodb_io_capacity_max = 20000

# innodb数据文件及redo log的打开、刷写模式(https://blog.csdn.net/smooth00/article/details/72725941)
#innodb_flush_method = O_DIRECT

# innodb文件格式
#innodb_file_format = Barracuda
#innodb_file_format_max = Barracuda

# 事务回滚段的数量
#innodb_undo_logs = 128

# 回滚表空间数量
#innodb_undo_tablespaces = 3

# 是否刷新邻接页
innodb_flush_neighbors = 0

# 重做日志大小(用于事务提交)
#innodb_log_file_size = 17179869184

# 重做日志组
#innodb_log_files_in_group = 2

# 重做日志缓冲区
#innodb_log_buffer_size = 16777216

# purge操作线程数量
#innodb_purge_threads = 4

#放开InnoDB引擎索引长度受限(单列索引长度不能超过767bytes，联合索引还有一个限制是长度不能超过3072)
#innodb_large_prefix = 1

#并发线程数限制
#innodb_thread_concurrency = 64

# err_log是否记录死锁
innodb_print_all_deadlocks = 1

# 开启innodb sql严格检查模式
innodb_strict_mode = 1

# innodb排序缓冲区大小
#innodb_sort_buffer_size = 67108864

#innodb_write_io_threads = 16
#innodb_read_io_threads = 16

# 是否独立表空间(ibdata*共享表空间或.ibd独立表空间)
#innodb_file_per_table = 1

# 随机取样页数
#innodb_stats_persistent_sample_pages = 64

# 对于auto_increment列插入数据时锁的获取方式(https://www.cnblogs.com/JiangLe/p/6362770.html)
#innodb_autoinc_lock_mode = 2

#online ddl过程中发生insert,update,delete操作,进行日志记录的日志大小
#innodb_online_alter_log_max_size=1G

# InnoDB一次可以保持打开的.ibd文件的最大数目
#innodb_open_files=4096




